<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia de películas: Resultados en Gráficos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Resultados en Gráficos</h1>

    <!-- Gráfico de evolución de aciertos y desaciertos -->
    <h2>Evolución de Aciertos y Desaciertos</h2>
    <img src="{{ url_for('mostrar_imagen_data', filename='grafico_lineas.png') }}" alt="Gráfico de evolución">
    
    <!-- Gráfico de distribución de aciertos y desaciertos -->
    <h2>Distribución de Aciertos y Desaciertos</h2>
    <img src="{{ url_for('mostrar_imagen_data', filename='grafico_pie.png') }}" alt="Gráfico de distribución">
    <br>
    <!-- Botón para descargar PDF -->
    <form method="GET" action="{{ url_for('descargar_pdf') }}">
        <button type="submit">Descargar Gráficos en PDF</button>
    </form>
    
    <!-- Botón para volver a los resultados históricos -->
    <form action="{{ url_for('p_resultados_historicos') }}">
        <button type='submit'>Volver a Resultados Históricos</button>
    </form>

    <!-- Botón para volver al inicio -->
    <form action="{{ url_for('p_inicio') }}">
        <button type='submit'>Volver al Inicio</button>
    </form>
</body>
</html>
