<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia de películas: resultados históricos</title>
</head>
<body>
    <h1>Resultados Históricos</h1>
    <pre>{{ p_tabla }}</pre>
    <br>
    <!-- <form method="GET" action="{{ url_for('p_inicio') }}">
        <button type="submit">Volver al Inicio</button>
    </form> -->
    <form action="{{url_for('p_inicio')}}">
        <input type ='submit' value = 'Volver al inicio'>
    </form>
</body>
</html>