<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia de Películas</title>
</head>
<body>
    <h1>Trivia de Películas</h1>
    <form action="/verificar" method="POST">
        {% for pregunta in trivia %}
            <p><strong>{{ pregunta.frase }}</strong></p>
            {% for opcion in pregunta.opciones %}
                <input type="radio" name="{{ pregunta.frase }}" value="{{ opcion }}"> {{ opcion }}<br>
            {% endfor %}
        {% endfor %}
        <br>
        <button type="submit">Enviar Respuestas</button>
    </form>
</body>
</html>
