# Archivos de caché de Python
__pycache__/
*.py[cod]

# Flask cache (lo que mencionaste)
flask_session_cache/

# Archivos de configuración del IDE
*.vscode/

# Archivos de log
*.log

#archivos de graficos, y analiticas
*.png
*.pdf
/data/*.html