<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ayuda - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Ayuda</h1>
    <p>Este es un tutorial de prueba. Si ves este mensaje, el botón de ayuda funciona correctamente.</p>
</body>
<div class="botones">
    <a href="{{ url_for('panelAdmin') }}" class="btn-registro">Volver al Panel</a>
    <a href="{{ url_for('logout') }}" class="btn-registro">Cerrar sesión</a>

</div>
</html>