<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestioná tus reclamos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenido a la gestión de reclamos</h1>
    <p>Hola {{ username }}, aquí puedes gestionar tus reclamos.</p>
    <div class="links">
        <a href = "{{ url_for('crearReclamos') }}">Iniciar un nuevo reclamo</a>
    </div>
</body>
</html>