<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestioná tus reclamos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p>Hola {{ username }}, aquí puedes gestionar tus reclamos.</p>
    <div class="header">
        <img src="{{ url_for('static', filename='logoFiuner.png') }}" alt="Logo de la Facultad De Ingeniería UNER" class="logo" width="150" height="50">
        <div class="separator"></div>
        <h1>Gestor de reclamos</h1>
    </div>

    <div class="botones">
        <a href = "{{ url_for('crearReclamos') }}" class = "btn-registro">Iniciar un nuevo reclamo</a>
        <a href = "{{ url_for('listarReclamos') }}" class = "btn-registro">Ver reclamos existentes</a>
        <a href="{{ url_for('logout') }}" class = "btn-registro">Cerrar sesión</a>
    </div>
</body>
</html>