{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="header">
    <img src="{{ url_for('static', filename='logoFiuner.png') }}" alt="Logo de la Facultad De Ingeniería UNER" class="logo" width="150" height="50">
    <div class="separator"></div>
    <h1>Gestor de reclamos</h1>
</div>

<div class="container" style="margin-top: 60px;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2 class="text-center">Iniciar sesión</h2>

          <div class="error text-center">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>

          {{ wtf.quick_form(form, novalidate=True) }}

          <p class="text-center">
            ¿No tenés cuenta? <a href="{{ url_for('register') }}">Registrate</a>
			<p> <a href="{{ url_for('inicio') }}">Volver al inicio</a></p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
