<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Transportadora de alimentos</h1>

    <form action="{{ url_for('index') }}" method="POST">
        <label for="n_alimentos">Ingrese numero de alimentos:</label>
        <input type="number" id="n_alimentos" name="n_alimentos" required>
        <button type="submit">Enviar</button>
    </form>

    <p>Listado de alimentos.</p>
    <ul>
        {% for alimento in lista_alimentos %}
            <li>{{ alimento }}</li>
        {% endfor %}
    </ul>

    <p>Valores de aw promedio:</p>
    <ul>
        <li>AW Kiwi: {{ aw_kiwi }}</li>
        <li>AW Manzana: {{ aw_manzana }}</li>
        <li>AW Papa: {{ aw_papa }}</li>
        <li>AW Zanahoria: {{ aw_zanahoria }}</li>
        <li>AW Fruta: {{ aw_fruta }}</li>
        <li>AW Verdura: {{ aw_verdura }}</li>
        <li>AW Total: {{ aw_total }}</li>
        <li>Peso Total: {{ peso_total }}</li>
    </ul>

    {% if revisar %}
    <p class="alerta">⚠ Se recomienda inspección del cajón.</p>
    {% endif %}
</body>
</html>
